parameters:
	ignoreErrors:
		-
			message: '#^Doing instanceof PHPStan\\Type\\Constant\\ConstantArrayType is error\-prone and deprecated\. Use Type\:\:getConstantArrays\(\) instead\.$#'
			identifier: phpstanApi.instanceofType
			count: 1
			path: src/TranslateSimulator.php

		-
			message: '#^Parameter \#1 \$value of class Dibi\\Literal constructor expects literal\-string, string given\.$#'
			identifier: argument.type
			count: 2
			path: src/TranslateSimulator.php

		-
			message: '#^Variable method call on \$this\(Vojtechdobes\\Tests\\DatabaseSpecificTypeInferenceSharedBase\)\.$#'
			identifier: method.dynamicName
			count: 1
			path: tests/cases/DatabaseSpecificTypeInferenceSharedBase.php

		-
			message: '#^Variable static property access on Vojtechdobes\\Tests\\DatabaseSpecificTypeInferenceSharedBase\.$#'
			identifier: staticProperty.dynamicName
			count: 3
			path: tests/cases/DatabaseSpecificTypeInferenceSharedBase.php

		-
			message: '#^Parameter \#1 \$sql of method Dibi\\Connection\<null\>\:\:nativeQuery\(\) expects literal\-string, non\-empty\-string given\.$#'
			identifier: argument.type
			count: 1
			path: tests/cases/SchemaTest.php

		-
			message: '#^Parameter \#1 \$sql of method Dibi\\Connection\<null\>\:\:nativeQuery\(\) expects literal\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: tests/cases/SchemaTest.php
